<h1>Habits</h1>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <%# TODO: Just for testing %>
      <% if habit.complete %>
        <% checkbox = "[x]"%>
      <% else %>
        <% checkbox = "[ ]"%>
      <% end %>

      <%= button_to checkbox, toggle_complete_path(habit), method: :post, form: {style: "display:inline;"} %>
      <%= habit.name %>
      <%= button_to "x", habit, :method => "delete", form: {style: "display:inline;"} %>
    </li>
  <% end %>
</ul>

<%= render "new_habit" %>