<h1>Habits</h1>

<ul>
  <% @habits.each do |habit| %>
    <li>name: <%= habit.name %>, done: <%= habit.complete %> <%= button_to "Delete", habit, :method => "delete" %></li>
  <% end %>
</ul>

<%= render "new_habit" %>